* {
  box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    position: relative;
    background-color: #fcea90;
}

.heading h1 {
  font-family: 'Roboto', sans-serif;
  color: #ff8b8b;
}
.hide {
  display: none;
}

.overlay {
  position: absolute;
  height: 540px;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  margin-top: -220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.514)
}

#welcome-modal, 
#win-modal, 
#lose-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 3em;
  background-color: #282d4f;
  height: 90%;
  width: 90%;
  border-radius: 20px;
}

.overlay h2,
.overlay p {
  font-family: 'Roboto', sans-serif;
  color: #f9f8e5;
}

button {
  margin-top: 2em;
  width: 30%;
  align-self: center;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #f40003;
  border: none;
  color: #f9f8e5;
  font-family: 'Roboto', sans-serif;
  border-radius: 2px;
  cursor: pointer;
}

button:hover {
  background-color: #f40004a8;
}

button:focus {
  outline: none;
}

#win-modal {
  display: none;
}

#lose-modal {
  display: none;
}

.hide {
  display: none;
}

